@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Oswald:wght@200;400&family=Poppins:wght@100&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');


body{
    background: linear-gradient(to bottom,#ff7800,#ffc422);
    background-repeat: no-repeat;
}
.tarjetas{
    width: 100%;
   display: flex;
   flex-wrap:wrap;
   
   justify-content: center;
}
.card{
    margin: auto;
}
header{
    display: inline-flex;
    width: 100%;
}
.navbar {
    background-color: #1a1010;
    width: 95%;
    
    
}
.divBtnCarrito{
    background-color:  #1a1010;
    padding-top: 1%;
    width: 5%;
    position: relative;
    
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    height: auto;
    width: 1100%;
    padding-top: 40px;
    color: #fff;
}
.redes{
    height: 30vh;
    width: 100%;
    text-align: center;
    padding-top: 2vh;
    font-size: rem;
    background-color: #3b3b3b;
    
}
.tituloFooter{
    margin: auto;
}



.carousel-item{
    height: 100%;
}
.slogan{
    text-align: left;
    width: 100%;
    font-size: 5rem;
    padding:15%;
    font-family: 'Koulen', cursive;;
}
.logo{
    width:9%;
    border-radius: 50%;
}
.navbar-brand{
    width:50%;
}


.productosCarrito{
    width: 80%;
    height: auto;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    height: 30vh;
    background-color: green;
}

.tituloCarrito{
   text-align: center;
   font-size:3rem;
}
.tablaCarrito{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 5% 0 5%;
    background-color: black;
    height: 4vh ;
}
.columnasCarrito{
    font-size: 20px;
    color: white;
}
.listaCarrito{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 5% 0 5%;
    background-color: black;
    height: 4vh;
    color: white;
    
}

#boton-carrito{
    
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin:auto;
    
    
}

#contadorCarrito{
    font-size: 0.8rem;
}

.divToggleNavigation{
    display: flex;
    justify-content: space-between;
}
.divHeader{
    width: 100%;
    display: inline-flex;
}
.divResponsive{
    display: grid;
    grid-template-columns:90% 10%;
}
.card{
    height: 400px;
    margin: 0 5px;
}
.card-img-top{
    height: 410px;
    width: 330px;
    padding: 15px 15px 15px 15px;
    background-color: rgba(14, 12, 12, 0);
    box-shadow: 4px 9px 10px -3px rgba(0,0,0,0.9);
    -webkit-box-shadow: 4px 9px 10px -3px rgba(0,0,0,0.9);
    -moz-box-shadow: 4px 9px 10px -3px rgba(0,0,0,0.9);
    
}
.cardProducto{
    height: 550px;
    width: 330px;
    margin-right: 25px;
    background-color: #ffffff;
    box-shadow: 8px 12px 10px -3px rgba(0,0,0,0.9);
    -webkit-box-shadow: 8px 12px 10px -3px rgba(0,0,0,0.9);
    -moz-box-shadow: 8px 12px 10px -3px rgba(0,0,0,0.9);

}

.divCartaNombre{
    font-size: 2rem;
    display: inline-flex;
}
.card-text{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
}
.btnAgregar{
    margin: 2px;
    background-color: #ff7800;
    border:none
}

.nombreProducto{
    font-family: 'Work Sans', sans-serif;
}

.modal-body{
    display: inline-flex;
    justify-content: space-between;
    margin: 0 10px;
}
.labelCarrito{
    font-weight: bold;
}
.modal{
    width: 100%;
}
.modalProductos{
    display: grid;
    grid-template-columns: 200px 100px 100px 100px ; 
    justify-content: space-between;
    margin: 0 10px;

}

.btnEliminar{
    border: none;
    background-color: white;
}
.btnEliminar:hover{
    color:red
}

.precioCarrito{
    text-align: right;
}

.footerModal{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items:flex-start;
}

.contenedorBtnCarrito{
    width: 40%;
    justify-content: space-between;
    align-items: stretch;
}

.divBtnCarrito{
    display: flex;
    justify-content: right;

}
.divNavbar{
    width: 100%;
}


/*carrousel*/

.banner{
    background-image: linear-gradient(to right, rgba(39, 38, 38, 0.404), rgba(0, 0, 0, 0.445)),url('/images/banner.jpeg');
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -1px 14px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 14px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 5px 0px rgba(0,0,0,0.75);
    
}












